In [1]:
import numpy as np

In [2]:
import pandas as pd

# Series
### Series in output look like :
    Index   Data
      a     123
      b     456
      c     789
      
### Series in input :
    ser1 = pd.Series(data, index)

In [4]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
dic = {'a':10, 'b':20, 'c':30}

In [5]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [6]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(dic)

a    10
b    20
c    30
dtype: int64

In [31]:
ser1 = pd.Series([1,2,3,4], ['India','USA','Russia','Pakistan'])
ser2 = pd.Series([5,6,7,8], ['India','USA','Russia','Japan'])

# NOTE: Here data is 1,2,3,4  & indexes are India, USA....
# hence Data can be anything

In [32]:
ser1

India       1
USA         2
Russia      3
Pakistan    4
dtype: int64

In [33]:
ser2

India     5
USA       6
Russia    7
Japan     8
dtype: int64

## Calling specific data from corresponding index/label

In [39]:
ser1['India']

# here 'India' is index/label  and 1 in output is Data

1

In [35]:
ser1['Pakistan']

4

In [36]:
ser2['Japan']

8

In [38]:
ser1 + ser2
# here data of same countries from both series will get added
# but data of different countries will be set to Null/NaN

India        6.0
Japan        NaN
Pakistan     NaN
Russia      10.0
USA          8.0
dtype: float64