# Multi-index & Index hierarchy

In [8]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [9]:
# Index levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside  = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))  # creates tuple combinations of 2 lists
hier_index = pd.MultiIndex.from_tuples(hier_index)  # converts list of tuples to Multi-index

In [10]:
list(zip(outside, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [11]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [14]:
df = pd.DataFrame(randn(6,2), hier_index, ['A','B'])
# ( data, index, columns)

In [15]:
df

             A         B
G1 1 -1.153241  0.178777
   2  1.215861  0.156552
   3 -0.880245 -0.633487
G2 1  1.584542 -0.797815
   2 -1.739808 -0.866583
   3  0.372121  1.353463

## Naming the outer and inner indices  i.e. multi-index

In [17]:
df.index.names = ['Groups', 'Num']
# [outer, inner]

In [18]:
df

                   A         B
Groups Num
G1     1   -1.153241  0.178777
       2    1.215861  0.156552
       3   -0.880245 -0.633487
G2     1    1.584542 -0.797815
       2   -1.739808 -0.866583
       3    0.372121  1.353463

## Calling data from a multilevel index

### Type1:

In [19]:
df.loc['G1']

            A         B
Num
1   -1.153241  0.178777
2    1.215861  0.156552
3   -0.880245 -0.633487

In [20]:
df.loc['G2']

            A         B
Num
1    1.584542 -0.797815
2   -1.739808 -0.866583
3    0.372121  1.353463

### Type 2:

In [21]:
df.loc['G1'].loc[1]

A   -1.153241
B    0.178777
Name: 1, dtype: float64

In [22]:
df.loc['G2'].loc[3]

A    0.372121
B    1.353463
Name: 3, dtype: float64

### Type 3:

In [23]:
df

                   A         B
Groups Num
G1     1   -1.153241  0.178777
       2    1.215861  0.156552
       3   -0.880245 -0.633487
G2     1    1.584542 -0.797815
       2   -1.739808 -0.866583
       3    0.372121  1.353463

In [24]:
df.loc['G1'].loc[3]['A']

-0.8802449915745149

In [25]:
df.loc['G2'].loc[2]['B']

-0.8665831968994755

In [26]:
df.loc['G1'].loc[1]['B']

0.17877673475798125

### *** Type 4: Using the Cross-section method (xs)

In [27]:
df

                   A         B
Groups Num
G1     1   -1.153241  0.178777
       2    1.215861  0.156552
       3   -0.880245 -0.633487
G2     1    1.584542 -0.797815
       2   -1.739808 -0.866583
       3    0.372121  1.353463

In [29]:
df.xs(1, level='Num')
# returns values present at index 1 of level Num from both G1 & G2

               A         B
Groups
G1     -1.153241  0.178777
G2      1.584542 -0.797815

In [31]:
df.xs(2, level='Num')

               A         B
Groups
G1      1.215861  0.156552
G2     -1.739808 -0.866583

In [32]:
df.xs(3, level='Num')

               A         B
Groups
G1     -0.880245 -0.633487
G2      0.372121  1.353463